.tooltip {
    position: relative;
    bottom: 90%;
    left: 90%;
}

.tooltip-content {
    position:relative;
    visibility: hidden;
    padding: 9px
    right: 92%;
}

.icon:hover~.tooltip-content {
    background: black;
    color: white;
    visibility: visible;
}